<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>KANNOU BACEM</h2>
            <h4>bacem.kannou@gmail.com</h4>
        </div>
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEsfQBlRmSjUg/profile-displayphoto-shrink_200_200/0/1618713519873?e=1624492800&v=beta&t=_BLFF4aBjnYo0KZ12MPhzo8LSfT_-KOEo-p1ojBrmz4" alt="">
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">User</a>
    <mat-divider></mat-divider>
</mat-nav-list>
